body {
    background-color: #1f1f1f;
}

a {
    cursor: pointer;
}

.headersite {
    width: 100%;
    height: 65px;
    background-color: #cccccc;
    display: flex;
    justify-content: space-between;
}



.headersite-logo {
    width: fit-content;
    height: 100%;
    background-color: blue;
    display: flex;
}

.headersite-logo img {
    height: 60px;
}

.headersite-nav {
    width: fit-content;
    height: 100%;
    background-color: rgb(41, 41, 105);
    
}

.headersite-nav ul {
    list-style: none;
}

.headersite-nav ul li{
    display: inline;
    float: left;
}

.headersite-nav u li a{
    padding: 0 10px;
}

.headersite-support {
    width: 120px;
    height: 100%;
    background-color: rgb(208, 255, 0);
    
}